body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('https://i.pinimg.com/736x/d1/c7/57/d1c757d6ee28776fb9facfa3e6365962.jpg') no-repeat bottom center/cover;
}

.hero-content {
    z-index: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 2rem;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3rem;
    margin: 0;
}

.hero-content p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.buttons {
    margin-top: 2rem;
}

.cta-button {
    background-color: rgba(27, 234, 30, 0.7);
    color: #000;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 0.5rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: rgba(4, 37, 14, 0.9);
}
